@use "sass:map";
@use "sass:color";
//@use "variables";

// find custom property CSS colors in child theme styles.css file
.qubely-accordion-panel-handler-label {
	font-weight: 700;
}

.qubely-block-accordion .qubely-accordion-item {
	margin-bottom: 0.5rem;
}

.tooling {

	border: none;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	width: 100%;

	.row {
		padding: 0;
	}

	.table-header,
	.table-list {
		> .row {
			display: inline-grid;
			grid-template-areas: "item item docs docs desc desc desc desc";
			grid-template-columns: repeat(8, 1fr);
			width: 100%;
		}
	}

	.table-list {
		padding: 0.75rem;
		border-bottom: 1px solid var(--bfl-concrete-tint);

		&:nth-of-type(even) {
			background: var(--bfl-glare);
		}
	}

	.table-header {
		> .row {
			background-color: transparent;
			border-bottom: 2px solid var(--bfl-text);
			font-family: inherit;
			font-size: 0.9rem;
			font-weight: 700;
			color: var(--bfl-text);
			margin: 0;
			outline: none;
			padding: 0.75rem 0 0.25rem 0;
			position: relative;
			text-transform: uppercase;
			width: 100%;

			&:focus {
				outline: 4px solid var(--bfl-dried-leaves);
			}
		}
	}

	.download {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		padding-left: 0.4rem;
		font-size: 0.9rem;
	}

	.description {
		display: flex;
		flex-direction: column;
		font-size: 0.9rem;
		line-height: 1.2;
		color: var(--bfl-text);

		> mark {
			margin-top: 0.4rem;
			padding: 0.1rem 0.2rem;
			width: fit-content;
			background-color: var(--bfl-primary-highlite);
		}
	}

	.tool-name {
		line-height: 1.2;
		font-weight: 600;
		color: var(--bfl-text);
		display: flex;
		align-items: center;
	}

	.pdf {

		&::before {
			content: "PDF";
			color: var(--bfl-basic-white);
			padding: 0.1rem 0.4rem;
			border-radius: 0.5rem;
			left: -5px;
			position: relative;
			background: var(--bfl-primary);
			font-size: x-small;
			font-weight: 700;
		}
	}

	.stl {

		&::before {
			content: "STL";
			color: var(--bfl-text);
			padding: 0.1rem 0.4rem;
			border-radius: 0.5rem;
			left: -5px;
			position: relative;
			background: var(--bfl-hazy-tint);
			font-size: x-small;
			font-weight: 700;
		}
	}

	.gcode {

		&::before {
			content: "GCODE";
			color: var(--bfl-text);
			padding: 0.1rem 0.4rem;
			border-radius: 0.5rem;
			left: -5px;
			position: relative;
			background: var(--bfl-grass-tint);
			font-size: x-small;
			font-weight: 700;

		}
	}

	.table-btn {
		align-self: center;
		line-height: 1;
		white-space: nowrap;
		padding: 0.5rem;
	}

	.table-btn:hover {
		cursor: pointer;
	}

	.wp-block-post-content h3 + .tooling-panel {
		margin-top: 0 !important;
	}

	.acf-tooling-block-empty-state {
		padding: 1rem 1rem;
	}


	.table-header  .tool,
	.table-list  .tool-name {
		grid-area: item;
	}

	.table-header  .docs,
	.table-list  .download {
		grid-area: docs;
	}

	.table-header  .desc,
	.table-list  .description {
		grid-area: desc;
	}

	.labels {
		display: flex;
		align-items: center;
	}
}

/* wrap description */
@media (max-width: 999px) {

	.tooling {

		.table-header,
		.table-list {

			.row {
				display: grid;
				grid-template-areas:
				"item item item item docs docs docs docs"
				"desc desc desc desc desc desc desc desc";
				width: 100%;
			}
		}

		.table-header {

			.desc {
				display: none;
			}
		}

		.table-btn {
			align-self: center;
			background-image: none;
			white-space: nowrap;
			padding: 0.5rem 0.5rem 0.5rem 0;
		}

		.description {
			padding-top: 1rem;
		}
	}
}

@media (max-width: 479px) {

	.tooling {

		.tool-name {
			padding: 0.5rem 0;
		}

		.table-header,
		.table-list {

			.row {
				display: grid;
				grid-template-areas:
				"item item item item item item item item"
				"docs docs docs docs docs docs docs docs"
				"desc desc desc desc desc desc desc desc";
				width: 100%;
			}
		}

		.table-header {

			.desc {
				display: none;
			}
		}
	}
}
