@use "sass:map";
@use "sass:color";

:root {
	--bfl-primary: #c20430;
	--bfl-primary-hover: #970225;
	--bfl-text: #191919;
	--bfl-accent: #49cbff;
	--bfl-basic-white: #fff;
	--bfl-blue-tint: #5f98b6;
	--bfl-maize-tint: #b49056;
	--bfl-lavendar-tint: #7a5fab;
	--bfl-sage-tint: #7a5fab;
	--bfl-pink-tint: #9f5879;
	--bfl-sidewalk-tint: #818181;
	--bfl-rose-tint: #913131;

	--bfl-glare: #f1f1f1ff;
	--bfl-plaster: #d3d3d3ff;
	--bfl-dried-leaves: #674a2a;
	--bfl-concrete-tint: #7d7d7d;
	--bfl-ivory-tint: #fffff0ff;
	--bfl-primary-highlite: #ffebebff;
	--bfl-hazy-tint: #ffebebff;
	--bfl-grass-tint: #a6eca6;
}

.qubely-accordion-panel-handler-label {
	font-weight: 700;
}

.qubely-block-accordion .qubely-accordion-item {
	margin-bottom: 0.5rem;
}

.tooling {

	/*background-color: var(--wp--preset--tooling-base);*/
	border: none;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	width: 100%;

	.table-header,
	.table-list {
		display: inline-grid;
		grid-template-areas: "item item docs docs desc desc desc desc";
		grid-template-columns: repeat(8, 1fr);
		width: 100%;
	}

	.table-list {
		padding: 0.75rem;
		border-bottom: 1px solid var(--bfl-concrete-tint);

		&:nth-of-type(even) {
			background: var(--bfl-glare);
		}
	}

	.table-header {
		background-color: transparent;
		border-bottom: 2px solid var(--bfl-text);

		/*color: var(--wp--preset--tooling-contrast);*/
		display: block;
		font-family: inherit;
		font-size: 0.9rem;
		font-weight: 700;
		color: var(--bfl-text);
		margin: 0;
		outline: none;
		padding: 0.75rem 0 0.25rem 0;
		position: relative;
		text-transform: uppercase;
		width: 100%;

		&:focus {
			outline: 4px solid transparent;
		}
	}

	.table-docs {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 0.4rem;
		font-size: 0.9rem;
	}

	.table-desc {
		display: flex;
		flex-direction: column;
		font-size: 0.9rem;
		line-height: 1.2;

		> mark {
			margin-top: 0.4rem;
			padding: 0.1rem 0.2rem;
			width: fit-content;
			background-color: var(--bfl-primary-highlite);
		}
	}

	.table-name {
		line-height: 1.2;
		font-weight: 600;
		color: var(--bfl-text);
	}

	.pdf {

		&::before {
			content: "PDF";
			color: var(--bfl-basic-white);
			padding: 0.1rem 0.4rem;
			border-radius: 0.5rem;
			left: -5px;
			position: relative;
			background: var(--bfl-primary);
			font-size: x-small;
			font-weight: 700;
		}
	}

	.stl {

		&::before {
			content: "STL";
			color: var(--bfl-text);
			padding: 0.1rem 0.4rem;
			border-radius: 0.5rem;
			left: -5px;
			position: relative;
			background: var(--bfl-hazy-tint);
			font-size: x-small;
			font-weight: 700;
		}
	}

	.gcode {

		&::before {
			content: "GCODE";
			color: var(--bfl-text);
			padding: 0.1rem 0.4rem;
			border-radius: 0.5rem;
			left: -5px;
			position: relative;
			background: var(--bfl-grass-tint);
			font-size: x-small;
			font-weight: 700;

		}
	}

	.table-btn {
		align-self: center;
		line-height: 1;
		white-space: nowrap;
	}

	.table-btn:hover {
		cursor: pointer;
	}

	.wp-block-post-content h3 + .tooling-panel {
		margin-top: 0 !important;
	}

	.acf-tooling-block-empty-state {
		padding: 1rem 1rem;
	}

	.table-header > .heading-tool,
	.table-list > .table-name {
		grid-area: item;
	}

	.table-header > .heading-docs,
	.table-list > .table-docs {
		grid-area: docs;
	}

	.table-header > .heading-desc,
	.table-list > .table-desc {
		grid-area: desc;
	}

	.tool-footer {
		display: flex;
		flex-grow: 1;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		background: var(--bfl-text);
	}

	.light-bkg {
		background-color: var(--bfl-ivory-tint);
	}

	.labels {
		display: flex;
		align-items: center;
	}
}

/* wrap description */
@media (max-width: 999px) {

	.tooling {

		.table-header,
		.table-list {
			display: grid;
			grid-template-areas:
				"item item item item docs docs docs docs"
				"desc desc desc desc desc desc desc desc";
			width: 100%;
		}

		.table-header {

			.heading-desc {
				display: none;
			}
		}

		.table-btn {
			align-self: center;
			padding: 0.2rem;
			background-image: none;
		}

		.table-desc {
			padding-top: 1rem;
		}
	}
}

@media (max-width: 479px) {

	.tooling {

		.table-name {
			padding: 0.5rem 0;
		}

		.table-header,
		.table-list {
			display: grid;
			grid-template-areas:
				"item item item item item item item item"
				"docs docs docs docs docs docs docs docs"
				"desc desc desc desc desc desc desc desc";
			width: 100%;
		}

		.table-header {

			> .heading-desc {
				display: none;
			}
		}
	}
}
