@use 'sass:map';
@use "sass:color";


.qubely-accordion-panel-handler-label {
	font-weight: 700;
}
.qubely-block-accordion .qubely-accordion-item {
	margin-bottom: 0.5rem;
}
.tooling {
	/*background-color: var(--wp--preset--tooling-base);*/
	border: none;
	font-size: 1rem;
	margin: 0;
	padding: 0;
	width: 100%;



	.table-header {
		background-color: transparent;
		border-bottom: 2px solid black;
		/*color: var(--wp--preset--tooling-contrast);*/
		display: block;
		font-family: inherit;
		font-size: 0.9rem;
		font-weight: 700;
		color: black;
		margin: 0;
		outline: none;
		padding: 0.75rem 0 0.25rem 0;
		position: relative;
		text-transform: uppercase;
		width: 100%;
	}

	mark {
		background-color: #ffebeb;
	}

	.table-header:focus {
		outline: 4px solid transparent;
	}


	.table-list {
		padding: 0.75rem ;
		border-bottom: 1px solid darkgray;
	}
	.table-list:nth-of-type(even) {
		background: #f6f6f6;
	}
	.table-docs {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 0.4rem;
		font-size: 0.9rem;
	}
	.table-desc {
		display: flex;
		flex-direction: column;
		font-size: 0.9rem;
		line-height: 1.2;
	}
	.table-desc > mark {
		margin-top: 0.4rem;
		padding: 0.1rem 0.2rem;
	}
	.table-name {
		line-height: 1.2;
		font-weight: 600;
		color: black;
	}
	mark {
		width: fit-content;
	}
	.pdf:before {
		content: 'PDF';
		color: white;
		padding:0 0.4rem;
		border-radius: 0.5rem;
		left: -5px;
		position: relative;
		background: #ff2828;
		font-size: x-small;
		font-weight: bold;

	}
	.stl:before {
		content: 'STL';
		color: black;
		padding:0 0.4rem;
		border-radius: 0.5rem;
		left: -5px;
		position: relative;
		background: #b9dce7;
		font-size: x-small;
		font-weight: bold;

	}

	.gcode:before {
		content: 'GCODE';
		color: black;
		padding:0 0.4rem;
		border-radius: 0.5rem;
		left: -5px;
		position: relative;
		background: #a6eca6;
		font-size: x-small;
		font-weight: bold;

	}


	a.table-btn {
		align-self: center;
		line-height: 1;
		white-space: nowrap;
	}
	a.table-btn:hover {
		cursor: pointer;
	}

	.wp-block-post-content h3 + .tooling-panel {
		margin-top: 0 !important;
	}

	.acf-tooling-block-empty-state {
		padding: 1rem 1rem;
	}

	.table-header > .heading-tool,
	.table-list > .table-name {
		grid-area: item;
	}
	.table-header > .heading-docs,
	.table-list > .table-docs {
		grid-area: docs;
	}
	.table-header > .heading-desc,
	.table-list > .table-desc {
		grid-area: desc;
	}
	.table-header,
	.table-list {
		display: inline-grid;
		grid-template-areas: "item item docs docs desc desc desc desc";
		grid-template-columns: repeat(8, 1fr);

		width: 100%;
	}

	.tool-footer {
		display: flex;
		flex-grow: 1;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		background: #1F1F1F;
	}
	.light-bkg {
		background-color: ivory;
	}
}
/* wrap description */
@media (max-width: 999px) {
	.tooling {
		.table-header,
		.table-list {
			display: grid;
			grid-template-areas: "item item item item docs docs docs docs"
							  "desc desc desc desc desc desc desc desc";
			width: 100%;
		}

		.table-header > .heading-desc {
			display: none;
		}

		a.table-btn {
			align-self: center;
			padding: 0.2rem;
			background-image: none;
		}

		.table-desc {
			padding-top: 1rem;
		}
	}
}
@media (max-width: 479px) {

	.tooling {
		.table-name {
			padding: 0.5rem 0;
		}

		.table-header,
		.table-list {
			display: grid;
			grid-template-areas:  "item item item item item item item item"
							  "docs docs docs docs docs docs docs docs"
							  "desc desc desc desc desc desc desc desc";
			width: 100%;
		}

		.table-header > .heading-desc {
			display: none;
		}
	}
}

.tooling {
	.labels {
		display: flex;
		align-items: center;
	}
	.ui.label {
		margin: 0 0.5em 0 0;
		padding: 0.4em 0.833em;
		min-width: 3em;
		text-align: center;
		font-size: 0.7rem;
		line-height: 1;
		border-radius: 0.5rem;
	}
	.ui.label.abrasive {
		background-color: #F2D7D5;
	}
	.ui.label.arts {
		background-color: #FADBD8;
	}
	.ui.label.auto {
		background-color: #EBDEF0;
	}
	.ui.label.computer {
		background-color: #E8DAEF;
	}
	.ui.label.fab {
		background-color: #D4E6F1;
	}
	.ui.label.text {
		background-color: #D6EAF8;
	}
	.ui.label.layout {
		background-color: #D1F2EB;
	}
	.ui.label.elect {
		background-color: #D0ECE7;
	}
	.ui.label.machine {
		background-color: #D4EFDF;
	}
	.ui.label.dim {
		background-color: #D5F5E3;
	}
	.ui.label.misc {
		background-color: #FCF3CF;
	}
	.ui.label.plastic {
		background-color: #FDEBD0;
	}
	.ui.label.ceramic {
		background-color: #FAE5D3;
	}
	.ui.label.prototype {
		background-color: #F6DDCC;
	}
	.ui.label.stock {
		background-color: #FBFCFC;
	}
	.ui.label.metal {
		background-color: #F2F3F4;
	}
	.ui.label.finish {
		background-color: #EAEDED;
	}
	.ui.label.weld {
		background-color: #E5E8E8;
	}
	.ui.label.wood {
		background-color: #D6DBDF;
	}

}
/*# sourceMappingURL=tooling.css.map*/